### Sales Territory Analysis

#####  Analyse the Sales.SalesTerritory table to identify the top 5 territories with the highest year-to-date (YTD) sales, determine the total sales across all territories, and calculate the average sales per territory.

In [1]:
import pandas as pd
import pyodbc

# Establish a database connection
conn = pyodbc.connect(
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=********\SQLEXPRESS;'
    r'DATABASE=AdventureWorks2022;'
    r'Trusted_Connection=yes;'
)

# Define the SQL query
sql_query = """
    SELECT TerritoryID, Name, SalesYTD
    FROM Sales.SalesTerritory
"""

# Execute the query and load the results into a pandas DataFrame
territory_df = pd.read_sql(sql_query, conn)

# Close the database connection
conn.close()

# Identify the top 5 territories with highest YTD sales
top_territories = territory_df.sort_values(by='SalesYTD', ascending=False).head(5)

# Determine the total sales across all territories
total_sales = territory_df['SalesYTD'].sum()

# Calculate the average sales per territory
average_sales_per_territory = territory_df['SalesYTD'].mean()

# Print the results
print('---------------------------------------------------------')
print(f'Top 5 Territories with Highest YTD Sales:\n{top_territories}')
print(f'Total Sales Across All Territories: ${total_sales:,.2f}')
print(f'Average Sales Per Territory: ${average_sales_per_territory:,.2f}')

---------------------------------------------------------
Top 5 Territories with Highest YTD Sales:
   TerritoryID            Name      SalesYTD
3            4       Southwest  1.051085e+07
0            1       Northwest  7.887187e+06
5            6          Canada  6.771829e+06
8            9       Australia  5.977815e+06
9           10  United Kingdom  5.012905e+06
Total Sales Across All Territories: $52,751,209.95
Average Sales Per Territory: $5,275,121.00

c:\Users\ayah\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(